body {
  font-family: 'Roboto', sans-serif;
}

.debug {
  background-color: rgba(187, 128, 179, 0.2);
  border: 1px solid black;
}

img {
  width: 100%;
}

ul li{
  list-style: none;
}

.h_70 {
  height: 70px;
}

.h_c-70 {
  height: calc(100vh - 70px);
}

.mw_150 {
  max-width: 150px;
}

.w_c-150 {
  width: calc(100vw - 150px);
}

/* HEADER */
header{
  height: 70px;
  /* background-color: #f8f9fa; */
  /* background-color: red; */              /* DEBUG */
}

.m-logo {
  width: 50px;
  height: 50px;
}

/* JUMBOTRON */
.bg_badge {
  background-color: #165bba;
}

.offcanvas_width {
  width: 100vw !important;
}

/* LEFT-SIDEBAR */
.bg_image_sidebar{
  background-image: url(/assets/img/sidebar-bg.png);
  background-size: cover;
  background-color: #051e34;
}

.btn_sidebar:hover{
  background-color: rgb(255, 255, 255, 0.3);
}

/* NEXT CLASS */
.class_avatar_img{
  width: 40px;
  height: 40px;
}

/* RESPONSIVE */

@media screen and (min-width: 769px){
  .offcanvas_width {
    width: 60vw !important;
  }
}

@media screen and (max-width: 991px){
  .w_c-150 {
    width: calc(100vw - 65.16px);
  }
}