body {
  font-family: 'Roboto', sans-serif;
}

.debug {
  background-color: rgba(187, 128, 179, 0.2);
  border: 1px solid black;
}

img {
  width: 100%;
}

ul li{
  list-style: none;
}

/* HEADER */
header{
  height: 70px;
  background-color: #f8f9fa;
}